{
  "extends": "eslint-config-egg/typescript",
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-var-requires": "off",
    "array-bracket-spacing": "off",
    "no-bitwise": "off",
    "no-confusing-arrow": "off",
    "arrow-parens": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
